mat-toolbar {
  display: flex;
  justify-content: space-between;
}

// id="main-menu"
#main-menu {
  list-style-type: none;
  display: flex;
  align-items: center;
}

// class="menu.item"
.menu-item {
  margin-left: 15px;
  cursor: pointer;
}

a {
  color: white;
  text-decoration: none;
}

.active {
  text-decoration: underline;
  font-weight: bolder;
}
