<!-- <mat-toolbar color="primary"> -->
<mat-toolbar [color]="'primary'">
  <span>My Application</span>

  <nav>
    <ul id="main-menu">
      <!--  routerLinkActive="className" => class to add when routerLink route is active -->
      <li class="menu-item"><a routerLink="/home" routerLinkActive="active">Home</a></li>
      <!-- routerLink can be done everywhere => better on a (HTML convention) -->
      <li class="menu-item" routerLink="/intro"  routerLinkActive="active">Intro</li>
      <li class="menu-item"><a routerLink="/products" routerLinkActive="active">Products </a></li>
      <li class="menu-item"><a routerLink="/admin" routerLinkActive="active">Admin </a></li>
    </ul>
  </nav>
</mat-toolbar>
